{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block body_block %}
<h2 class="mt-5 text-center">Joined Events List</h2>
<hr>
{% for schedule in schedules %}
<div class="border border-primary m-3 p-2">
    <h2><a href="#">{{ schedule.event.title}}</a></h2>
    <p>creasted by {{ schedule.event.user.profile.username }}</p>
    <h3>{{ schedule.event.location }}</h3>
    <h4>{{ schedule.event.event_time }}</h4>
    <a class="btn btn-danger" href="{% url 'EventApp:delete' pk=schedule.pk %}">REMOVE</a>
</div>
{% endfor %}
<hr>
<br>
<br>
<hr>
<h2 class="mt-5 text-center">Created Events List</h2>
<hr>
{% for event in events %}
<div class="border border-primary m-3 p-2">
    <h2><a href="#">{{ event.title}}</a></h2>
    <p>{{ event.user.profile.username }}</p>
    <h3>{{ event.location }}</h3>
    <h4>{{ event.event_time }}</h4>
</div>
{% endfor %}
{% endblock %}