{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock %}

{% block body_block %}
<h2 class="mt-5">Search An Event</h2>
<hr>
<form class="d-flex" method="get" action="">
    {{ form.as_p }}
    {% csrf_token %}
    <button class="btn btn-success ms-3" type="submit">SUBMIT</button>
</form>
<hr>
{% for event in events %}
<div class="border border-primary m-3 p-2">
    <h2><a href="{% url 'EventApp:event_page' pk=event.pk %}">{{event.title}}</a></h2>
    <p>{{ event.user.profile.username }}</p>
    <h3>{{event.location}}</h3>
    <h5>Available seats = {{ event.slots }}</h5>
</div>
{% endfor %}
{% endblock %}
